@import '../../colors.sass'


.input
    width: 100%
    max-width: 500px
    height: 50px
    padding: 0 10px
    margin: 5px 0 0
    font-size: 1.5rem
    font-weight: bold
    color: $color
    border-radius: 8px
    background: transparent
    box-shadow: 0 0 0 2px $border
    transition: 0.2s
    &__wrapper
        margin-bottom: 30px
    &__title
        font-weight: bold
        margin-bottom: 5px

    &:hover,
    &:focus
        box-shadow: 0 0 0 5px $lnk-bg
