@import '../../colors.sass'

.btn__wrapper 
    perspective: 1000px 
.btn
    padding: 10px 30px
    font-size: 2rem
    user-select: none
    cursor: pointer
    font-weight: bold
    background: $background
    color: $color
    border: 3px solid $red
    
    &:hover
